body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    transform: translate(0,50px);

}

form {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    border: 5px double blue;
    font-size: 20px;
}

label {
    display: inline;
    margin-bottom: 5px;
    margin-right: 10px;
}

input[type="text"],
input[type="date"] {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"],
input[type="reset"] {
    padding: 5px 10px;
    background-color: rgb(177, 175, 175);
    color: black;
    border: none;
    cursor: pointer;
    width: fit-content;
    font-weight: bold;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: rgb(83, 77, 77);
}